.env
**/.env
.agents
.git
.next
**/.next
apps/*/.next
apps/*/.next/**
dist
**/dist
apps/*/dist
apps/*/dist/**
build
**/build
apps/*/build
apps/*/build/**
node_modules
**/node_modules
node_modules/**
apps/*/node_modules
apps/*/node_modules/**
packages/*/node_modules
packages/*/node_modules/**
coverage
artifacts
cache
.turbo
.pnpm-store
.pnpm
.DS_Store
npm-debug.log*
pnpm-debug.log*
package-lock.json
